* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.appContainer {
  height: 100vh;
}

.navBar {
  background-color: lightcyan;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}

.link{
  text-decoration: none;
  text-align: center;
  flex: 1;
  padding: 10px 0; 
}

.infoContainer {
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cityName {
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
}

.infoCardContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.infoCard {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: lightsalmon;
  border-radius: 5px;
  height: 100px;

  margin: 10px; 
  min-width: 200px;
  padding: 10px;
}

.withIcon{
  flex-direction: column
}